.calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    width: 500px;
    /* border: 1px solid red; */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.day{
    background-color: yellow;
    height: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
}
.date{
    background-color: aquamarine;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

