.food{
    border: 1px solid rebeccapurple;
    padding: 25px;
    border-radius: 10px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.food img{
    width: 100%;
}

/* simple media query */

/* small device */
@media screen and (max-width: 576px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
    .food{
        background-color: tomato;
    }
}

/* medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .food{
        background-color: aquamarine;
    }
}

/* 7 main things to make Responsive */

=> View port meta 
=> CSS Relative Unit
=> body max width and horozontal center align
=> image fluid
=> Two column flex and use media query with flex direction column
=> Multi column : grid layout
=> Menue Responsive : will need JavaScript